<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <a class="navbar-brand navbar-btn" asp-controller="App" asp-action="Index">MyGuitarLocker</a>
        <ul class="nav navbar-nav pull-right">
            <li><a class="navbar-btn pull-right" asp-controller="App" asp-action="App">Edit My Locker</a></li>
            <li><a class="navbar-btn pull-right" asp-controller="App" asp-action="Browse">Browse</a></li>
            <li><a class="navbar-btn pull-right" asp-controller="Auth" asp-action="Login">My Account</a></li>
        </ul>    
    </div>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
