<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Upload SoundClip</h1>
            <input id="files" type="file" multiple="multiple" ng-model="files">
            <!--<button ng-click="upload()">upload</button>-->
            <ul>
                <li ng-repeat="file in files" ng-show="file.completed"><a ng-href="{{file.url}}" target="_blank">{{file.name}} completed</a></li>
            </ul>
            <div ng-repeat="file in files" ng-show="!file.completed" class="progress">
                <div role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}%;" class="progress-bar">
                    <span class="sr-only">{{file.progress}}% Complete</span>
                </div>
                <span class="progress-type">{{file.name}} {{file.timeLeft}}s left</span>
                <span class="progress-completed">{{file.progress}}%</span>
            </div>
        </div>
    </div>
</div>

<form novalidate name="newSoundClipForm" ng-submit="vm.addImage()">
    <div class="form-group">
        <label for="name">Collection Title</label><br />
        <input class="form-control" id="title" name="title" ng-model="vm.newSoundClip.title" required ng-minlength="3" /><br />
        <label for="name">Description</label><br />
        <input class="form-control" id="description" name="description" ng-model="vm.newSoundClip.description" /><br />
        <label for="name">Recording Gear</label><br />
        <input class="form-control" id="recording_gear" name="recording_gear" ng-model="vm.newSoundClip.recording_gear" /><br />
    </div>
    <div>
        <input type="submit" value="Upload" ng-disabled="newSoundClipForm.$invalid" ng-click="upload()" />
    </div>
</form>