<div class="text-danger" ng-show="vm.errorMessage"> {{vm.errorMessage}} </div>
<wait-cursor display-when="vm.isBusy"></wait-cursor>
<div ng-repeat="Instrument in vm.Instruments">
    <a ng-href="#/editor/{{ Instrument.name }}">{{ Instrument.name }}</a>
</div>
<div>
    <h3>Add Instrument</h3>
    <form novalidate name="newInstrumentForm" ng-submit="vm.addInstrument()">
        <div class="form-group">
            <label for="name">Instrument Name</label><br />
            <input class="form-control" id="name" name="name" ng-model="vm.newInstrument.name" required ng-minlength="3" /><br />
            <label for="name">Make</label><br />
            <input class="form-control" id="make" name="make" ng-model="vm.newInstrument.make" /><br />
            <label for="name">Model</label><br />
            <input class="form-control" id="model" name="model" ng-model="vm.newInstrument.model" /><br />
            <label for="name">Year</label><br />
            <input class="form-control" id="year" name="year" ng-model="vm.newInstrument.year" /><br />
            <label for="name">Thumbnail</label><br />
            <input id="thumbnailUrl" type="file" ng-model="files"><br />
        </div>
        <div>
            <br />
            <input type="submit" value="Add" ng-disabled="newInstrumentForm.$invalid" ng-click="upload()"/>
        </div>
    </form>

</div>
