<div>
    <div>
        <!--wrong url-->
        <a href="#/locker/{{vm.user}}" class="btn">All {{vm.user}}'s Instruments</a>
    </div>
    <h2>{{vm.InstrumentName}}</h2>
    <div class="col-md-6" id="radio">
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>

        <table class="jumbotron">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Recording Gear</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Current Time</th>
                <th>Volume</th>
            </tr>
            <tr ng-repeat="SoundClip in vm.SoundClips">
                <td>{{SoundClip.title}}</td>
                <td>{{SoundClip.description}}</td>
                <td>{{SoundClip.gear}}</td>
                <td>
                    <button class="btn btn-default" ng-click='SoundClip.audio.paused ? SoundClip.audio.play() : SoundClip.audio.pause()'>Play/Pause</button>
                </td>
                <td>
                    <button class="btn btn-default" ng-click='SoundClip.audio.restart()'>Stop</button>
                </td>
                <td>
                    <button class="btn btn-default" ng-click='SoundClip.audio.muting = !SoundClip.audio.muting'>Mute</button>
                </td>
                <td>
                    <input class='form-control' type=text ng-model='SoundClip.audio.currentTime'>
                </td>
                <td>
                    <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='SoundClip.audio.volume'>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="pic in vm.Images">
            <div class="thumbnail">
                <img ng-repeat="url in pic.urls" img ng-src="{{url}}">
                <div class="caption">
                    <h3>{{pic.title}}</h3>
                    <p>{{pic.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--<div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="pic in vm.Images">
            <h4>{{pic.title}}</h4>
            <p>{{pic.description}}</p>
            <a href="#" class="thumbnail">
                <img ng-repeat="url in pic.urls" img ng-src="{{url}}" alt="{{pic.description}}">
            </a>
        </div>
    </div>-->