<div>
    <div class="text-danger" ng-show="vm.errorMessage"> {{vm.errorMessage}} </div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <table>
        <tr ng-repeat="trip in vm.trips">
            <td>{{ trip.name }}</td>
            <td>{{trip.created | date:'MM-dd-yyyy'}}</td>
            <td><a ng-href="#/editor/{{ trip.name }}">Manage</a></td>
        </tr>
    </table>

    <form novalidate name="newTripForm" ng-submit="vm.addTrip()">
        <div class="form-group">
            <label for="name">Trip Name</label>
            <input class="form-control" id="name" name="name" ng-model="vm.newTrip.name" required ng-minlength="5" />
            <span ng-show="newTripForm.name.$error.required" class="text-warning">Name is Required</span>
            <span ng-show="newTripForm.name.$error.minlength" class="text-warning">Name must be 8 characters</span>
        </div>
        <div>
            <input type="submit" value="Add" ng-disabled="newTripForm.$invalid" />
        </div>
    </form>

</div>