@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-audio/app/angular.audio.js"></script>
    <script src="~/lib/evaporatejs/evaporate.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-Instruments.js"></script>
    <script src="~/js/instrumentsController.js"></script>
    <script src="~/js/instrumentEditorController.js"></script>
    <script src="~/js/addClipsController.js"></script>
    <script src="~/js/addPicsController.js"></script>
    <script src="~/js/addInstrumentController.js"></script>
}

<div class="row" ng-app="app-Instruments">
    <div ng-view></div>
</div>
