@model IEnumerable<MyGuitarLocker.Models.Instrument>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-12">
        <h1>Welcome to The MyGuitarLocker</h1>
        <p>This app will allow you to plan for MyGuitarLocker Instruments</p>
        <a asp-controller="App" asp-action="Instruments" class="btn btn-lg btn-success">View My Instruments</a>
    </div>

</div>
