@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-Instruments.js"></script>
    <script src="~/js/InstrumentsController.js"></script>
    <script src="~/js/InstrumentEditorController.js"></script>
}

<div class="row" ng-app="app-Instruments">
    <div ng-view></div>
</div>


https://maps.googleapis.com/maps/api/js