<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <ul>
        <li><a asp-controller="App" asp-action="Index">Home</a></li>
        <li><a asp-controller="App" asp-action="About">About</a></li>
        <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
